<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
  />
    <title>Footer</title>
</head>
<body>
    <footer>
        <p class="copyright">&copy; <span id="currentYear"></span>-Blog. All rights reserved.</p></span>
    </footer> 
    <script>
        var date = new Date();
        var year = date.getFullYear();
        document.getElementById('currentYear').innerHTML = year;
    </script>
</body>
</html>