<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Mecca Blog</title>
 
</head>
<body>
    <nav>
        <div class="nav__header">
          <div class="nav__logo">
           <img src="/home-images/Muslimah-logo.png" id="nav-img">
           
          </div>
          <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
          </div>
        </div>
        <ul class="nav__links" id="nav-links">
          <li><a href="/index">HOME</a></li>
          <li><a href="/newPost">New Post</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
        <div class="nav__btns">
          <button class="btn"><i class="ri-search-line"></i></button>
          <button class="btn"><i class="ri-message-2-line"></i></button>
        </div>
      </nav>
      <div id="notification" class="notification"></div>
      <script src="/js/script.js"></script>
      <script>
</script>
</body>
</html>