body {
  height: 80vh;
  width: 100%;
}

.newPost-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}
.newPost-container:after {
  content: "";
  position: absolute;
  width: 60%;
  height: 80%;
  left: 25;
  top: 10;
  /* background: url("../home-images/kabba.jpg") no-repeat center; */
  box-shadow: 5px 5px 20px rgb(252, 232, 223);
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}
.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f3eae5;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgb(252, 232, 223);
}

.left {
  background: url("../home-images/placeholder.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.right {
  padding: 25px 40px;
}

.form-label {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
  background-color: #f3eae5;
  color: #090909;
}

.form-input {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.form-input:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.submit-btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #090909;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #494b4a;
}

.form-input:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}
/* @media (width > 768px) { */
@media screen and (max-width: 880px) {
  /* .contact-box{
		grid-template-columns: 1fr;
	} */
  .left {
    height: 43vh;
    width: 100%;
  }
  .right {
    padding: 25px 40px;
    width: 100%;
    height: 40vh;
  }
  body {
    width: 100%;
    height: 70rem;
  }
  .newPost-container:after {
    display: none;
  }
  .contact-box {
    width: 130%;
    height: 98vh;
    grid-template-columns: 1fr;
  }
  .newPost-container {
    padding: 20px 20px;
  }
  .submit-btn {
    margin-top: 6.1rem;
  }
  .form-label {
    background-color: #f3eae5;
    color: #0f0e0e;
  }
}
